 body{
             background-color: lightgoldenrodyellow;    
        }
        
        h1{
            color:whitesmoke;
            text-shadow: 2px 2px 4px #000000;     
            text-align: center;
            padding: 20px;
            margin: 20px;
         }
        
        p{
            text-indent: 50px;      
            padding: 12px;
            margin: 20px;
            line-height: 1.5em;
            letter-spacing: 1px;
            
                  
        }
        
        p.MyTitle{
            color: darkblue;
            padding: 12px;
            margin: 20px;
            width; 12px;
        }
        
        img{
            margin-left: 600px;
        }
    
        strong{
          color:red;
        }
        nav a {
    color: inherit; /* 移除超連結顏色 */
    text-decoration: none;  /* 移除超連結底線 */
         } 
        nav > ul {
    list-style: none;   /* 移除項目符號 */
}
nav > ul {
    background-color: rgb(230, 230, 230);
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav a {
    color: inherit; /* 移除超連結顏色 */
    font-size: 1.2rem;
    text-decoration: none;  /* 移除超連結底線 */
}
/* 滑鼠移到 <a> 時變成深底淺色 */
nav a:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}
nav a {
    color: inherit; /* 移除超連結顏色 */
    display: block; /* 讓 <a> 填滿 <li> */
    font-size: 1.2rem;
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
}
